---
import { Icon } from "astro-icon/components"
---

<div class="p-12 pt-32">
	<div class="relative mx-auto flex max-w-2xl flex-col items-center">
		<div class="mb-6 flex">
			<a href="">
				<span
					class="animate-background-shine inline-flex h-full cursor-pointer items-center justify-center rounded-full border border-gray-800 bg-[linear-gradient(110deg,#000,45%,#4D4B4B,55%,#000)] bg-[length:250%_100%] px-3 py-1 text-sm font-medium text-gray-300">
					Inscribete aquí
					<span class="pl-1">
						<Icon name="arrow-right" size="16px" />
					</span>
				</span>
			</a>
		</div>
		<h2 class="text-center text-4xl font-medium text-gray-50 sm:text-6xl">
			Lorem ipsum dolor, sit amet consectetur
			<span
				class="inline-flex bg-gradient-to-r from-neutral-100 via-slate-400 to-neutral-400 bg-[200%_auto] bg-clip-text leading-tight text-transparent"
				>adipisicing elit.</span
			>
		</h2>
		<p class="mt-6 text-center text-sm leading-6 text-gray-300 md:text-base">
			Iniciativa para que los correntinos y las correntinas puedan adquirir los
			conocimientos y las herramientas necesarias para iniciarse en la industria
			tecnológica.
		</p>
	</div>
</div>
